{
  "openapi": "3.1.0",
  "info": {
    "title": "Farthing API",
    "version": "1.0.0",
    "summary": "Agentic checkout. Give it a product URL and a plain-English request; it drives a real browser to a completed purchase and asks a human only when it must.",
    "description": "The HTTP API is the product. Everything an integration needs \u2014 creating checkouts, answering the questions a run stops on, storing buyers, issuing scoped keys \u2014 is here.\n\nA checkout is asynchronous and pauses for humans. `POST /v1/checkouts` returns in milliseconds with a `queued` object; the run itself takes minutes and may park on a `pendingUserAction` for up to ten. Poll `GET /v1/checkouts/{id}` (unmetered) or register a webhook endpoint.\n\nNot covered by this spec: the live-view embed (`GET /embed/{checkoutId}` and `GET /embed/{checkoutId}/stream`). Those are consumed by a browser, authenticate with a short-lived JWT minted at `POST /v1/checkouts/{id}/embed-token` rather than with an API key, and return HTML and `text/event-stream`.",
    "contact": {
      "name": "Farthing",
      "url": "https://docs.farthing.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.farthing.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Signup",
      "description": "Self-serve account creation. The only unauthenticated write on the API."
    },
    {
      "name": "Checkouts",
      "description": "Create a run, poll it, cancel it, and answer what it asks."
    },
    {
      "name": "Buyer profiles",
      "description": "Reusable identity and shipping details, referenced by id when creating a checkout."
    },
    {
      "name": "Buyer sessions",
      "description": "Stored merchant logins captured by a `credentials` action. Read-only metadata and revocation."
    },
    {
      "name": "Webhooks",
      "description": "Endpoints that receive `checkout.status_changed` with an HMAC-SHA256 signature."
    },
    {
      "name": "API keys",
      "description": "Self-serve key issuance and revocation. Keys carry scopes; a key can never mint one broader than itself."
    },
    {
      "name": "Usage",
      "description": "Completed checkouts by day, and gross merchandise volume by currency."
    },
    {
      "name": "Health",
      "description": "Liveness."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness check",
        "description": "Unauthenticated. Returns immediately; does not touch the database.",
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "Alive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "service": {
                      "type": "string",
                      "const": "farthing"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "service": "farthing"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signup": {
      "post": {
        "tags": [
          "Signup"
        ],
        "summary": "Create a sandbox account",
        "description": "Creates a sandbox-only tenant and returns one `ck_test_` key, shown exactly once.\n\nA sandbox tenant runs the entire product \u2014 real browser, real storefront, real card entry, a genuinely placed order \u2014 but only against merchants Farthing controls. It cannot reach a real merchant and cannot mint a `live` key until the account is activated.\n\nUnauthenticated, and rate limited on its own terms: 3 signups per hour per source IP, 200 per 24 hours platform-wide.",
        "operationId": "signup",
        "security": [],
        "requestBody": {
          "required": false,
          "description": "Optional. An empty body is valid.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "description": "Your account name. Defaults to `email`, then to `\"sandbox tenant\"`."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200,
                    "description": "Contact address. Not verified, not emailed."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "name": "Acme Agents",
                "email": "you@example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "403": {
            "description": "Self-serve signup is closed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": true,
                  "message": "Self-serve signup is closed"
                }
              }
            }
          },
          "429": {
            "description": "Signup rate limit hit \u2014 per-IP or platform-wide.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": true,
                  "message": "Too many signups from this address. Try again later."
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkouts": {
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Create a checkout",
        "description": "Returns immediately with a `queued` checkout. The run happens asynchronously in a durable orchestrator, so a client crash or a network blip never orphans a half-finished purchase.\n\nRequires the `checkouts.write` scope.\n\n**Retries.** Send an `Idempotency-Key` header and a duplicate `POST` returns the original checkout with `200` rather than buying the item twice. Without one, two identical requests are two runs and two orders. A key is live for 24 hours from the creation of the checkout that claimed it; after that the same string starts a new purchase.\n\n**Strict body.** An unrecognised top-level field is a `400`. A misspelled `subjectt` used to return `201` with an untagged checkout the whole account could read, and an isolation control that fails open on a typo is not a control.",
        "operationId": "createCheckout",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreate"
              },
              "example": {
                "target": {
                  "url": "https://your-sandbox-store.myshopify.com/products/widget",
                  "request": "buy this in medium, cheapest delivery"
                },
                "buyerProfileId": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30",
                "constraints": {
                  "maxCost": {
                    "amount": "60.00",
                    "currency": "USD"
                  }
                },
                "metadata": {
                  "orderRef": "acme-4412"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An `Idempotency-Key` replay: this key has already been used with this body. The original checkout, **as it is now** \u2014 not a recording of the original `201`, so the status may have moved on and a `pendingUserAction` may already be waiting. Nothing was created, no quota was consumed, and no second browser was launched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                },
                "example": {
                  "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                  "status": "running",
                  "target": {
                    "kind": "direct_url",
                    "url": "https://your-sandbox-store.myshopify.com/products/widget",
                    "request": "buy this in medium, cheapest delivery"
                  },
                  "constraints": {
                    "maxCost": {
                      "amount": "60.00",
                      "currency": "USD"
                    }
                  },
                  "buyerProfileId": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30",
                  "metadata": {
                    "orderRef": "acme-4412"
                  },
                  "browser": {
                    "embedTokenUrl": "/v1/checkouts/1f2e3d4c-5b6a-4790-8123-abcdef012345/embed-token",
                    "permissions": [
                      "read"
                    ]
                  },
                  "progressItems": [
                    {
                      "kind": "intent_started",
                      "label": "Started checkout",
                      "data": {},
                      "at": "2026-07-29T09:14:31.203Z",
                      "sequence": 1
                    },
                    {
                      "kind": "step",
                      "label": "Browser session started",
                      "data": {},
                      "at": "2026-07-29T09:15:12.884Z",
                      "sequence": 2
                    }
                  ],
                  "createdAt": "2026-07-29T09:14:31.190Z",
                  "updatedAt": "2026-07-29T09:15:12.901Z"
                }
              }
            }
          },
          "201": {
            "description": "Queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                },
                "example": {
                  "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                  "status": "queued",
                  "target": {
                    "kind": "direct_url",
                    "url": "https://your-sandbox-store.myshopify.com/products/widget",
                    "request": "buy this in medium, cheapest delivery"
                  },
                  "constraints": {
                    "maxCost": {
                      "amount": "60.00",
                      "currency": "USD"
                    }
                  },
                  "buyerProfileId": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30",
                  "metadata": {
                    "orderRef": "acme-4412"
                  },
                  "progressItems": [
                    {
                      "kind": "intent_started",
                      "label": "Started checkout",
                      "data": {},
                      "at": "2026-07-29T09:14:31.203Z",
                      "sequence": 1
                    }
                  ],
                  "createdAt": "2026-07-29T09:14:31.190Z",
                  "updatedAt": "2026-07-29T09:14:31.190Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body \u2014 including an unrecognised top-level field, an empty `subject`, or a `buyerProfileId` that is not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "invalidBody": {
                    "summary": "Zod issues attached",
                    "value": {
                      "error": true,
                      "message": "Invalid request",
                      "issues": [
                        {
                          "code": "invalid_string",
                          "validation": "url",
                          "path": [
                            "target",
                            "url"
                          ],
                          "message": "Invalid url"
                        }
                      ]
                    }
                  },
                  "unknownProfile": {
                    "summary": "Buyer profile not found on this tenant",
                    "value": {
                      "error": true,
                      "message": "buyerProfileId not found"
                    }
                  },
                  "unknownField": {
                    "summary": "A misspelled top-level field, refused rather than dropped",
                    "value": {
                      "error": true,
                      "message": "Invalid request",
                      "issues": [
                        {
                          "code": "unrecognized_keys",
                          "keys": [
                            "subjectt"
                          ],
                          "path": [],
                          "message": "Unrecognized key(s) in object: 'subjectt'"
                        }
                      ]
                    }
                  },
                  "emptySubject": {
                    "summary": "subject: \"\" \u2014 refused, not treated as tenant-wide",
                    "value": {
                      "error": true,
                      "message": "Invalid request",
                      "issues": [
                        {
                          "code": "too_small",
                          "minimum": 1,
                          "type": "string",
                          "inclusive": true,
                          "exact": false,
                          "message": "String must contain at least 1 character(s)",
                          "path": [
                            "subject"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Sandbox confinement, a suspended tenant, a missing scope, a subject-bound key acting for another end user, or a `buyerProfileId` belonging to a different end user than the checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SandboxError"
                    },
                    {
                      "$ref": "#/components/schemas/ScopeError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "sandbox": {
                    "summary": "Test key pointed at a real merchant",
                    "value": {
                      "error": true,
                      "message": "Cannot check out at example-store.com: This request used a test key. Use a live key to check out at real merchants. Sandbox merchants: your-sandbox-store.myshopify.com.",
                      "sandboxMerchants": [
                        "your-sandbox-store.myshopify.com"
                      ]
                    }
                  },
                  "scope": {
                    "summary": "Key lacks checkouts.write",
                    "value": {
                      "error": true,
                      "message": "This API key is missing the 'checkouts.write' scope.",
                      "requiredScope": "checkouts.write"
                    }
                  },
                  "boundToAnotherSubject": {
                    "summary": "A subject-bound key naming a different end user",
                    "value": {
                      "error": true,
                      "message": "This API key is bound to subject 'user_a91f' and cannot act for another."
                    }
                  },
                  "profileOfAnotherEndUser": {
                    "summary": "A tenant-wide key mixing one end user's stored address into another's checkout",
                    "value": {
                      "error": true,
                      "message": "buyerProfileId belongs to subject 'user_alice', but this checkout is for 'user_bob'."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The `Idempotency-Key` has been used before with a different request body. Nothing is created. Reusing a key for a different purchase is a caller bug \u2014 usually a key derived from the attempt rather than from the purchase \u2014 so it is refused rather than silently answered with a checkout for something else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdempotencyConflict"
                },
                "example": {
                  "error": true,
                  "message": "This Idempotency-Key was already used with a different request body.",
                  "checkoutId": "1f2e3d4c-5b6a-4790-8123-abcdef012345"
                }
              }
            }
          },
          "429": {
            "description": "A per-tenant quota was hit. Both limits are enforced here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "concurrency": {
                    "summary": "Active checkout limit (default 5)",
                    "value": {
                      "error": true,
                      "message": "Active checkout limit reached (5). Wait for runs to finish or cancel them."
                    }
                  },
                  "daily": {
                    "summary": "Daily volume limit (default 200 per rolling 24h)",
                    "value": {
                      "error": true,
                      "message": "Daily checkout limit reached (200 per 24h)."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "List checkouts",
        "description": "Cursor-paginated summaries, newest first. Deliberately a summary rather than the full object: the full shape carries the whole event timeline, which is exactly what a list view must not fetch.\n\nRequires the `checkouts.read` scope.\n\n`?subject=` narrows the page to one end user, and each row carries `subject` when the checkout has one. A subject-bound key is already narrowed to its own end user; asking for another's is a `403`.",
        "operationId": "listCheckouts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to one status. An unrecognised value is a `400`, not an empty page.",
            "schema": {
              "$ref": "#/components/schemas/CheckoutStatus"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Filter to one end user. Composes with `status`, `limit` and `cursor`; a subject with no checkouts is an empty page, not an error.\n\nA subject-bound key does not need this \u2014 its page is already narrowed to one person. Passing its own subject is fine; naming a different one is a `403`, refused rather than quietly ignored.\n\nValidated like every other subject: 1 to 200 characters, or `400`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "user_a91f"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CheckoutSummary"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "Pass back as `?cursor=`. `null` means this was the last page."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                      "status": "succeeded",
                      "subject": "user_a91f",
                      "url": "https://your-sandbox-store.myshopify.com/products/widget",
                      "request": "buy this in medium, cheapest delivery",
                      "receipt": {
                        "total": {
                          "amount": "42.10",
                          "currency": "USD"
                        },
                        "merchantOrderId": "1042"
                      },
                      "createdAt": "2026-07-29T09:14:31.190Z",
                      "updatedAt": "2026-07-29T09:26:29.702Z"
                    },
                    {
                      "id": "5c7d9e01-2b34-4a56-8f90-1a2b3c4d5e6f",
                      "status": "awaiting_user_action",
                      "url": "https://your-sandbox-store.myshopify.com/products/mug",
                      "request": null,
                      "pendingUserActionId": "7c1de0a2-9b44-4f0a-b3c1-2a5e8d7f4b60",
                      "createdAt": "2026-07-29T09:31:02.418Z",
                      "updatedAt": "2026-07-29T09:33:11.006Z"
                    }
                  ],
                  "nextCursor": "2026-07-29T09:31:02.418Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad `limit`, `cursor` or `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "limit": {
                    "value": {
                      "error": true,
                      "message": "'limit' must be an integer between 1 and 100"
                    }
                  },
                  "cursor": {
                    "value": {
                      "error": true,
                      "message": "'cursor' must be an ISO 8601 timestamp from a previous nextCursor"
                    }
                  },
                  "status": {
                    "value": {
                      "error": true,
                      "message": "Unknown status 'done'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "A missing scope, a suspended tenant, or a subject-bound key asking for another end user's rows with `?subject=`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ScopeError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "scope": {
                    "value": {
                      "error": true,
                      "message": "This API key is missing the 'checkouts.read' scope.",
                      "requiredScope": "checkouts.read"
                    }
                  },
                  "otherSubject": {
                    "summary": "A bound key filtering for somebody else",
                    "value": {
                      "error": true,
                      "message": "This API key is bound to subject 'user_a91f' and cannot act for another."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkouts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CheckoutId"
        }
      ],
      "get": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Get a checkout",
        "description": "The whole current state in one object: status, the append-only `progressItems` timeline, the `pendingUserAction` if the run is blocked, and the `receipt` once it has succeeded.\n\nThis is the endpoint you poll. Reads are not rate limited; a 3\u20135 second interval is right for a process that takes minutes.\n\nRequires the `checkouts.read` scope.",
        "operationId": "getCheckout",
        "responses": {
          "200": {
            "description": "The checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                },
                "examples": {
                  "awaitingVariant": {
                    "summary": "Parked on a variant question",
                    "value": {
                      "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                      "status": "awaiting_user_action",
                      "target": {
                        "kind": "direct_url",
                        "url": "https://your-sandbox-store.myshopify.com/products/widget",
                        "request": "buy this, cheapest delivery"
                      },
                      "constraints": {
                        "maxCost": {
                          "amount": "60.00",
                          "currency": "USD"
                        }
                      },
                      "buyerProfileId": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30",
                      "metadata": {},
                      "browser": {
                        "embedTokenUrl": "/v1/checkouts/1f2e3d4c-5b6a-4790-8123-abcdef012345/embed-token",
                        "permissions": [
                          "read"
                        ]
                      },
                      "progressItems": [
                        {
                          "kind": "intent_started",
                          "label": "Started checkout",
                          "data": {},
                          "at": "2026-07-29T09:14:31.203Z",
                          "sequence": 1
                        },
                        {
                          "kind": "user_action",
                          "label": "This product comes in multiple options \u2014 pick one to continue.",
                          "data": {
                            "key": "variant"
                          },
                          "at": "2026-07-29T09:14:45.630Z",
                          "sequence": 4
                        }
                      ],
                      "pendingUserAction": {
                        "id": "7c1de0a2-9b44-4f0a-b3c1-2a5e8d7f4b60",
                        "key": "variant",
                        "message": "This product comes in multiple options \u2014 pick one to continue.",
                        "responseSchema": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "Size"
                          ],
                          "properties": {
                            "Size": {
                              "type": "string",
                              "title": "Size",
                              "oneOf": [
                                {
                                  "const": "M",
                                  "title": "M"
                                },
                                {
                                  "const": "L",
                                  "title": "L"
                                }
                              ]
                            }
                          }
                        },
                        "expiresAt": "2026-07-29T09:24:45.612Z"
                      },
                      "createdAt": "2026-07-29T09:14:31.190Z",
                      "updatedAt": "2026-07-29T09:14:45.622Z"
                    }
                  },
                  "succeeded": {
                    "summary": "Done, with a receipt",
                    "value": {
                      "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                      "status": "succeeded",
                      "target": {
                        "kind": "direct_url",
                        "url": "https://your-sandbox-store.myshopify.com/products/widget",
                        "request": "buy this, cheapest delivery"
                      },
                      "constraints": {},
                      "metadata": {},
                      "progressItems": [
                        {
                          "kind": "terminal",
                          "label": "Checkout succeeded",
                          "data": {},
                          "at": "2026-07-29T09:26:29.688Z",
                          "sequence": 17
                        }
                      ],
                      "receipt": {
                        "total": {
                          "amount": "42.10",
                          "currency": "USD"
                        },
                        "merchantOrderId": "1042",
                        "evidence": {
                          "url": "https://your-sandbox-store.myshopify.com/checkouts/c/abc123/thank_you"
                        }
                      },
                      "createdAt": "2026-07-29T09:14:31.190Z",
                      "updatedAt": "2026-07-29T09:26:29.702Z"
                    }
                  },
                  "failed": {
                    "summary": "Stopped by the maxCost guardrail",
                    "value": {
                      "id": "1f2e3d4c-5b6a-4790-8123-abcdef012345",
                      "status": "failed",
                      "target": {
                        "kind": "direct_url",
                        "url": "https://your-sandbox-store.myshopify.com/products/widget"
                      },
                      "constraints": {
                        "maxCost": {
                          "amount": "60.00",
                          "currency": "USD"
                        }
                      },
                      "metadata": {},
                      "progressItems": [
                        {
                          "kind": "terminal",
                          "label": "Checkout failed",
                          "data": {
                            "reason": "max_cost_exceeded",
                            "message": "Order total 61.40 USD exceeds maxCost 60.00 USD"
                          },
                          "at": "2026-07-29T09:25:10.114Z",
                          "sequence": 12
                        }
                      ],
                      "failure": {
                        "reason": "max_cost_exceeded"
                      },
                      "createdAt": "2026-07-29T09:14:31.190Z",
                      "updatedAt": "2026-07-29T09:25:10.220Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CheckoutNotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Cancel a checkout",
        "description": "Accepted, not applied. The cancellation is enqueued; the run stops, the browser is torn down, and the checkout lands on `cancelled` shortly after. Poll to observe it.\n\nCancelling an already-terminal checkout is a no-op that still returns `202`.\n\nRequires the `checkouts.write` scope.",
        "operationId": "cancelCheckout",
        "responses": {
          "202": {
            "description": "Cancellation accepted. Empty body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CheckoutNotFound"
          }
        }
      }
    },
    "/v1/checkouts/{id}/embed-token": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CheckoutId"
        }
      ],
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Mint a live-view token",
        "description": "Returns a short-lived JWT pinned to this one checkout, and the URL to open with it. The checkout id alone gets you nothing \u2014 the token is what gates the stream.\n\nThe view is read-only by construction: no input path exists from the embed to the browser.\n\nRequires the `checkouts.write` scope (it is a `POST`).",
        "operationId": "createEmbedToken",
        "responses": {
          "200": {
            "description": "Token minted. Expires 10 minutes from now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CheckoutNotFound"
          }
        }
      }
    },
    "/v1/checkouts/{id}/actions/{actionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CheckoutId"
        },
        {
          "name": "actionId",
          "in": "path",
          "required": true,
          "description": "The `pendingUserAction.id` from the checkout. A new action gets a new id every time \u2014 never cache one.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Checkouts"
        ],
        "summary": "Answer or decline a user action",
        "description": "Submit the values described by the action's `responseSchema`, or decline to abandon the purchase. Declining is a first-class outcome, not an error path: the run stops immediately and the checkout fails with `user_cancelled`.\n\nThe response is the full checkout, re-serialized, with `pendingUserAction` gone.\n\nValues for `card`, `credentials` and `otp` actions are fully redacted in the audit record and the raw copy goes to a transient, delete-on-read store consumed by the one step that types it.\n\nRequires the `checkouts.write` scope.",
        "operationId": "resolveUserAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ActionSubmit"
                  },
                  {
                    "$ref": "#/components/schemas/ActionDecline"
                  }
                ],
                "discriminator": {
                  "propertyName": "action"
                }
              },
              "examples": {
                "variant": {
                  "summary": "Answer a variant question",
                  "value": {
                    "action": "submit",
                    "values": {
                      "Size": "M",
                      "Color": "Black"
                    }
                  }
                },
                "card": {
                  "summary": "Answer a card question",
                  "value": {
                    "action": "submit",
                    "values": {
                      "card_number": "4111111111111111",
                      "card_expiry": "12 / 30",
                      "card_cvc": "123"
                    }
                  }
                },
                "decline": {
                  "summary": "Refuse and end the run",
                  "value": {
                    "action": "decline",
                    "reason": "no operator available"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved. The full checkout, without `pendingUserAction`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such checkout, or no such action on this checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "checkout": {
                    "value": {
                      "error": true,
                      "message": "Checkout not found"
                    }
                  },
                  "action": {
                    "value": {
                      "error": true,
                      "message": "Action not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The action is no longer pending. This is also your idempotency signal \u2014 if your own retry gets `Action already submitted`, the first attempt landed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "submitted": {
                    "value": {
                      "error": true,
                      "message": "Action already submitted"
                    }
                  },
                  "declined": {
                    "value": {
                      "error": true,
                      "message": "Action already declined"
                    }
                  },
                  "expired": {
                    "value": {
                      "error": true,
                      "message": "Action already expired"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer-profiles": {
      "post": {
        "tags": [
          "Buyer profiles"
        ],
        "summary": "Create a buyer profile",
        "description": "Every field is optional \u2014 `{}` is a valid profile \u2014 but the agent can only fill what you gave it. Values are stored and typed exactly as sent: no normalisation, no address validation, no correction.\n\nOne profile per end user. A profile is the identity that stored merchant sessions hang off, so reusing one across unrelated buyers would share their merchant logins.\n\nRequires the `buyer-profiles.write` scope.\n\nSet `subject` to say which of your end users this profile is for. A key bound to that subject can then reach it and no other end user's key can.",
        "operationId": "createBuyerProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyerProfileCreate"
              },
              "example": {
                "label": "ada-home",
                "name": {
                  "first": "Ada",
                  "last": "Lovelace"
                },
                "contact": {
                  "email": "ada@example.com",
                  "phone": "+15555550123"
                },
                "shipping": {
                  "addressLines": [
                    "1 Analytical Way"
                  ],
                  "locality": "Louisville",
                  "administrativeAreaCode": "KY",
                  "postalCode": "40202",
                  "countryCode": "US"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Omitted sub-objects come back as `null`, not `{}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Type mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "error": true,
                  "message": "Invalid profile",
                  "issues": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Buyer profiles"
        ],
        "summary": "List buyer profiles",
        "description": "Cursor-paginated, newest first.\n\nRequires the `buyer-profiles.read` scope.",
        "operationId": "listBuyerProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BuyerProfile"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad `limit` or `cursor`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/buyer-profiles/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Buyer profiles"
        ],
        "summary": "Get a buyer profile",
        "description": "Requires the `buyer-profiles.read` scope.",
        "operationId": "getBuyerProfile",
        "responses": {
          "200": {
            "description": "The profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ProfileNotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Buyer profiles"
        ],
        "summary": "Update a buyer profile",
        "description": "Partial at the top level, wholesale underneath. `name`, `contact` and `shipping` are each stored as one JSON document: omit a key and that document is untouched; supply one and it **replaces** the old document entirely.\n\nThat is deliberate. Merging half an address into an old one is how you ship a parcel to a street in the wrong city \u2014 so send a whole `shipping` object or none at all.\n\nAn empty body is a `400`, not a no-op. Send `\"shipping\": null` to clear a document outright \u2014 which is how an address you no longer want held is removed short of deleting the whole profile. `{}` stores an empty object instead, which is a different thing.\n\nRequires the `buyer-profiles.write` scope.",
        "operationId": "updateBuyerProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyerProfilePatch"
              },
              "examples": {
                "moveHouse": {
                  "summary": "Replace the whole shipping document",
                  "value": {
                    "shipping": {
                      "addressLines": [
                        "221B Baker Street"
                      ],
                      "locality": "London",
                      "postalCode": "NW1 6XE",
                      "countryCode": "GB"
                    }
                  }
                },
                "relabel": {
                  "summary": "Change only the label; name/contact/shipping untouched",
                  "value": {
                    "label": "ada-work"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated. The full profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Type mismatch, or nothing to update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "empty": {
                    "value": {
                      "error": true,
                      "message": "No fields to update"
                    }
                  },
                  "invalid": {
                    "value": {
                      "error": true,
                      "message": "Invalid profile",
                      "issues": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ProfileNotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Buyer profiles"
        ],
        "summary": "Delete a buyer profile",
        "description": "A real delete, not a tombstone. This is the path for honouring \"remove what you hold about me\".\n\nWhat goes and what stays is decided by the schema, not by a cleanup job:\n\n- Checkouts that referenced this profile **survive** with their `buyerProfileId` set to null, so purchase history outlives the identity.\n- Buyer sessions for this profile \u2014 the stored merchant logins \u2014 **cascade away**. That is the point of deleting, not a side effect.\n\nRequires the `buyer-profiles.write` scope.",
        "operationId": "deleteBuyerProfile",
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted",
                    "id"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "deleted": true,
                  "id": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ProfileNotFound"
          }
        }
      }
    },
    "/v1/buyer-sessions": {
      "get": {
        "tags": [
          "Buyer sessions"
        ],
        "summary": "List stored merchant sessions",
        "description": "Metadata only. The cookie blob itself is encrypted at rest and is never returned by any endpoint.\n\nSessions are created only by checkout runs \u2014 a `credentials` login, or a refresh on a later success \u2014 so there is no `POST` here.\n\nWhen the session vault is disabled on the deployment, this returns an empty list with `vaultEnabled: false` rather than an error.\n\nRequires the `buyer-sessions.read` scope.",
        "operationId": "listBuyerSessions",
        "parameters": [
          {
            "name": "buyerProfileId",
            "in": "query",
            "required": false,
            "description": "Narrow to one buyer.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions, newest activity first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessions",
                    "vaultEnabled"
                  ],
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BuyerSession"
                      }
                    },
                    "vaultEnabled": {
                      "type": "boolean",
                      "description": "`false` means the deployment has no session vault configured; `sessions` is then always empty."
                    }
                  }
                },
                "example": {
                  "sessions": [
                    {
                      "id": "e91d4a55-0b62-4c33-9f18-7a2c5d80b134",
                      "buyerProfileId": "b3a1c0de-2f77-45a0-9c8e-6f4b2a1d9e30",
                      "merchantDomain": "example-store.com",
                      "createdAt": "2026-07-21T14:02:11.771Z",
                      "updatedAt": "2026-07-29T09:26:29.310Z",
                      "lastUsedAt": "2026-07-29T09:26:29.310Z"
                    }
                  ],
                  "vaultEnabled": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/buyer-sessions/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Buyer sessions"
        ],
        "summary": "Revoke a stored merchant session",
        "description": "A row delete. The next checkout at that merchant for that buyer starts logged out and will raise a `credentials` action again if the site demands one.\n\nRequires the `buyer-sessions.write` scope.",
        "operationId": "deleteBuyerSession",
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                },
                "example": {
                  "deleted": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such session, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": true,
                  "message": "Session not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register a webhook endpoint",
        "description": "The signing secret is returned exactly once, here. Store it \u2014 nothing can recover it.\n\nRequires the `webhooks.write` scope.\n\nA subject-bound key cannot manage webhook endpoints. One endpoint receives the transitions of every checkout the tenant runs, for every end user, so registering or reading them from a single person's key would be a way to subscribe to everyone else's activity. `403`.",
        "operationId": "createWebhookEndpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Must be `https://`. `http://localhost` and `http://127.0.0.1` are allowed for development."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              },
              "example": {
                "url": "https://example.com/hooks/farthing",
                "label": "prod"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "url",
                    "label",
                    "secret"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "secret": {
                      "type": "string",
                      "description": "`whsec_\u2026`. Shown once. Used to verify the `t=\u2026,v1=\u2026` signature header."
                    }
                  }
                },
                "example": {
                  "id": "3d4c5b6a-7890-4123-9abc-def012345678",
                  "url": "https://example.com/hooks/farthing",
                  "label": "prod",
                  "secret": "whsec_1a2B3c4D5e6F7g8H9i0JkLmNoPqRsTuV"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or non-https URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook endpoints",
        "description": "Active endpoints only \u2014 revoked ones are excluded. Never returns a secret.\n\nAnswers `{ data, endpoints, nextCursor }`: read `data`, the field the checkout and buyer-profile lists also use. `endpoints` is the same array under its original name, and `nextCursor` is always `null` because this collection is not paged.\n\nRequires the `webhooks.read` scope.\n\nA subject-bound key cannot manage webhook endpoints. One endpoint receives the transitions of every checkout the tenant runs, for every end user, so registering or reading them from a single person's key would be a way to subscribe to everyone else's activity. `403`.",
        "operationId": "listWebhookEndpoints",
        "responses": {
          "200": {
            "description": "Active endpoints, newest first. Revoked ones are excluded. Not paged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "endpoints",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      },
                      "description": "The collection. Read this one \u2014 it is the field the checkout and buyer-profile lists answer with too. (`GET /v1/buyer-sessions` is the one list route that has not converged: it answers `{ sessions, vaultEnabled }`.)"
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      },
                      "description": "The same array under the field's original name, kept because existing callers read it. Identical contents; prefer `data` in new code."
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Always `null` here \u2014 the collection is small and tenant-bounded, so there is nothing to page. Present so a generic list client needs no special case."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "c81b0d5e-4a71-4a1e-9a2f-6f83b1c04e29",
                      "url": "https://hooks.example.com/farthing",
                      "label": "prod",
                      "lastDeliveryAt": "2026-07-29T09:26:29.881Z",
                      "lastDeliveryStatus": 200,
                      "createdAt": "2026-07-28T14:03:55.204Z"
                    }
                  ],
                  "endpoints": [
                    {
                      "id": "c81b0d5e-4a71-4a1e-9a2f-6f83b1c04e29",
                      "url": "https://hooks.example.com/farthing",
                      "label": "prod",
                      "lastDeliveryAt": "2026-07-29T09:26:29.881Z",
                      "lastDeliveryStatus": 200,
                      "createdAt": "2026-07-28T14:03:55.204Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Revoke a webhook endpoint",
        "description": "Revocation is a timestamp, not a row delete. Deliveries stop immediately and the endpoint drops out of the list.\n\nRequires the `webhooks.write` scope.\n\nA subject-bound key cannot manage webhook endpoints. `403`.",
        "operationId": "revokeWebhookEndpoint",
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revoked"
                  ],
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                },
                "example": {
                  "revoked": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Unknown, another tenant's, or already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": true,
                  "message": "Endpoint not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Create an API key",
        "description": "The plaintext key is returned exactly once, here. Only `sha256(key)` is stored \u2014 no endpoint, support process or database query can recover it.\n\n**Scopes.** Omit `scopes` and the key gets `[\"*\"]`, full access, which is what a key has always meant here. Supply an array to narrow it. A key can never mint a key with scopes it does not itself hold, so `api-keys.write` is not a back door to `*`.\n\n**Mode.** Two independent `403`s guard a `live` key: a sandbox-only account cannot create one, and a `ck_test_` key cannot issue one however activated the account is. Authority passes down, never sideways \u2014 otherwise the sandbox confinement a test key exists to provide would be one `POST` deep. Mode is fixed at creation; there is no promotion path. A consequence worth planning for: a self-serve signup only ever holds `ck_test_` keys, so the first `ck_live_` key on a newly activated account cannot be minted through this endpoint and has to be issued during activation.\n\nAn empty body is valid and produces a full-access `test` key.\n\nRequires the `api-keys.write` scope.",
        "operationId": "createApiKey",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "test",
                      "live"
                    ],
                    "default": "test",
                    "description": "`test` keys are confined to sandbox merchants no matter how the account is configured."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 32,
                    "items": {
                      "$ref": "#/components/schemas/Scope"
                    },
                    "description": "Omit for full access (`[\"*\"]`)."
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Bind the key to one of your end users \u2014 your own opaque id, 1 to 200 characters after trimming. **Omit for a tenant-wide key**, which is what every key issued before this existed already is. `\"\"` is a `400`, not a tenant-wide key by another name.\n\nA bound key sees and creates only that subject's checkouts and buyer profiles, and is refused outright on the account-wide endpoints (`GET`/`DELETE /v1/api-keys`, `/v1/usage`, `/v1/webhooks`).\n\nMinting from a bound key **inherits** the binding: omitting `subject` gives another key for the same end user, not a tenant-wide one, and naming a different subject is a `403`. Fixed at creation \u2014 there is no rebinding and no unbinding.",
                    "examples": [
                      "user_a91f"
                    ]
                  }
                },
                "description": "The top level is strict: an unrecognised field is a `400` with an `unrecognized_keys` issue, not a field the server drops for you. The field most worth misspelling here is `subject`, and a `201` carrying an untagged row is an isolation control that failed open on a typo."
              },
              "examples": {
                "fullAccess": {
                  "summary": "Full access (scopes omitted)",
                  "value": {
                    "mode": "live",
                    "label": "prod-worker"
                  }
                },
                "narrow": {
                  "summary": "An agent that may only run checkouts",
                  "value": {
                    "mode": "live",
                    "label": "shopping-agent",
                    "scopes": [
                      "checkouts.write"
                    ]
                  }
                },
                "boundToOneEndUser": {
                  "summary": "A key that can only ever act for one end user",
                  "value": {
                    "mode": "live",
                    "label": "agent for user_a91f",
                    "scopes": [
                      "checkouts.write",
                      "buyer-profiles.read"
                    ],
                    "subject": "user_a91f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. `key` appears here and nowhere else, ever.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                },
                "example": {
                  "id": "2a44c7f0-1b23-4a95-9d0e-77e1b6c4a812",
                  "mode": "live",
                  "scopes": [
                    "checkouts.write"
                  ],
                  "keyPrefix": "ck_live_9Hf2QzT",
                  "key": "ck_live_9Hf2QzT0mHq9pP2rVwXk1tLb"
                }
              }
            }
          },
          "400": {
            "description": "Bad `mode`, or a scope string that is not in the valid set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownScopeError"
                },
                "example": {
                  "error": true,
                  "message": "Unknown scope(s): checkouts.admin",
                  "validScopes": [
                    "*",
                    "checkouts.read",
                    "checkouts.write",
                    "buyer-profiles.read",
                    "buyer-profiles.write",
                    "buyer-sessions.read",
                    "buyer-sessions.write",
                    "webhooks.read",
                    "webhooks.write",
                    "api-keys.read",
                    "api-keys.write",
                    "usage.read",
                    "usage.write"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "A sandbox-only account asking for a live key, a test key asking for a live key, or an attempt to escalate scopes or subject. Authority passes down, never sideways.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/EscalationError"
                    },
                    {
                      "$ref": "#/components/schemas/ScopeError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "sandboxOnly": {
                    "value": {
                      "error": true,
                      "message": "This account is sandbox-only. Live keys require activation."
                    }
                  },
                  "escalation": {
                    "summary": "A narrow key trying to mint a broader one",
                    "value": {
                      "error": true,
                      "message": "A key cannot grant scopes it does not itself hold.",
                      "heldScopes": [
                        "checkouts.write"
                      ]
                    }
                  },
                  "modeEscalation": {
                    "summary": "A test key trying to mint a live key",
                    "value": {
                      "error": true,
                      "message": "A test key cannot issue a live key. Use a live key, or activate the account."
                    }
                  },
                  "subjectEscalation": {
                    "summary": "A subject-bound key trying to issue a key for someone else",
                    "value": {
                      "error": true,
                      "message": "This API key is bound to subject 'user_a91f' and cannot issue keys for another."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "List API keys",
        "description": "Answers `{ data, keys, nextCursor }`: `data` is the field the checkout and buyer-profile lists also use and the one to read, `keys` is the same array under its original name, and `nextCursor` is always `null` because this collection is not paged. Newest first. **Revoked keys are included**, with `revokedAt` set \u2014 filter client-side if you only want active ones.\n\nListing never returns a secret. `keyPrefix` is the most a list can show.\n\nRequires the `api-keys.read` scope.\n\nA subject-bound key cannot call this: the key list is a tenant-wide fact, and a credential acting for one end user must not be able to enumerate its siblings. `403`.",
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "Every key on the tenant, newest first, revoked ones included. Not paged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "keys",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeySummary"
                      },
                      "description": "The collection. Read this one \u2014 it is the field the checkout and buyer-profile lists answer with too. (`GET /v1/buyer-sessions` is the one list route that has not converged: it answers `{ sessions, vaultEnabled }`.)"
                    },
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeySummary"
                      },
                      "description": "The same array under the field's original name, kept because existing callers read it. Identical contents; prefer `data` in new code."
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Always `null` here \u2014 the collection is small and tenant-bounded, so there is nothing to page. Present so a generic list client needs no special case."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "2a44c7f0-1b23-4a95-9d0e-77e1b6c4a812",
                      "label": "agent for user_a91f",
                      "mode": "live",
                      "scopes": [
                        "checkouts.write"
                      ],
                      "subject": "user_a91f",
                      "keyPrefix": "ck_live_9Hf2QzT",
                      "lastUsedAt": "2026-07-29T09:14:31.190Z",
                      "revokedAt": null,
                      "createdAt": "2026-07-29T09:02:10.771Z"
                    },
                    {
                      "id": "8b7c6d5e-4f30-4a21-9b8c-0d1e2f3a4b5c",
                      "label": "ci",
                      "mode": "test",
                      "scopes": [
                        "*"
                      ],
                      "subject": null,
                      "keyPrefix": "ck_test_3sQd7yQ",
                      "lastUsedAt": null,
                      "revokedAt": "2026-07-27T11:44:09.331Z",
                      "createdAt": "2026-07-20T08:15:02.640Z"
                    }
                  ],
                  "keys": [
                    {
                      "id": "2a44c7f0-1b23-4a95-9d0e-77e1b6c4a812",
                      "label": "agent for user_a91f",
                      "mode": "live",
                      "scopes": [
                        "checkouts.write"
                      ],
                      "subject": "user_a91f",
                      "keyPrefix": "ck_live_9Hf2QzT",
                      "lastUsedAt": "2026-07-29T09:14:31.190Z",
                      "revokedAt": null,
                      "createdAt": "2026-07-29T09:02:10.771Z"
                    },
                    {
                      "id": "8b7c6d5e-4f30-4a21-9b8c-0d1e2f3a4b5c",
                      "label": "ci",
                      "mode": "test",
                      "scopes": [
                        "*"
                      ],
                      "subject": null,
                      "keyPrefix": "ck_test_3sQd7yQ",
                      "lastUsedAt": null,
                      "revokedAt": "2026-07-27T11:44:09.331Z",
                      "createdAt": "2026-07-20T08:15:02.640Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "API keys"
        ],
        "summary": "Revoke an API key",
        "description": "Takes effect immediately. Revocation is a timestamp, not a row delete \u2014 knowing which key was live when matters more than a tidy table if one is ever abused.\n\nNothing stops a key revoking itself. Revoke the old key only after the new one's traffic has taken over.\n\nRequires the `api-keys.write` scope.\n\nA subject-bound key cannot call this. Revocation is a tenant-wide power \u2014 left open, one end user's key could take the account's own key offline. `403`.",
        "operationId": "revokeApiKey",
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revoked"
                  ],
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                },
                "example": {
                  "revoked": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Covers all three cases: unknown id, another tenant's key, already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": true,
                  "message": "Key not found or already revoked"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Billable usage",
        "description": "Completed checkouts only. Attempts are never metered \u2014 charging for attempts would mean earning more when the agent fails, which is backwards for a product whose entire problem is reliability.\n\nThe default window is the current calendar month (UTC), which is the unit tenants are billed in.\n\nRequires the `usage.read` scope.\n\nA subject-bound key cannot call this. Billing is between us and the tenant; an end user's key reading the account's total spend and order volume would be a leak between your own customers. `403`.",
        "operationId": "getUsage",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Inclusive start. Any `Date`-parseable string. Defaults to the first instant of the current UTC month.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Exclusive end. Defaults to now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The summary for the window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummary"
                },
                "example": {
                  "from": "2026-07-01T00:00:00.000Z",
                  "to": "2026-07-29T09:14:31.190Z",
                  "completedCheckouts": 37,
                  "byDay": [
                    {
                      "day": "2026-07-27",
                      "count": 12
                    },
                    {
                      "day": "2026-07-28",
                      "count": 25
                    }
                  ],
                  "merchandiseVolume": [
                    {
                      "currency": "USD",
                      "amount": "1482.55"
                    },
                    {
                      "currency": "GBP",
                      "amount": "96.00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unparseable date, or `from` after `to`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unparseable": {
                    "value": {
                      "error": true,
                      "message": "Invalid from/to date"
                    }
                  },
                  "inverted": {
                    "value": {
                      "error": true,
                      "message": "'from' must be before 'to'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer ck_test_\u2026` or `ck_live_\u2026`. There is no other auth scheme \u2014 no query-string keys, no request signing, no OAuth."
      }
    },
    "parameters": {
      "CheckoutId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The checkout id returned at creation.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Page size. Must be an integer from 1 to 100; anything else is a `400`.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "The previous page's `nextCursor` \u2014 an ISO 8601 timestamp. Returns rows created strictly before it.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes a create safe to retry. A second request with the same key returns the **original** checkout with `200` instead of starting a second run; the same key with a different body is a `409`.\n\nStrongly recommended on every create. A `POST` that times out after the server accepted it is indistinguishable, from the caller's side, from one that never landed, and every autonomous caller retries a timeout by default \u2014 so without this header the worst failure mode of the product is reachable by an ordinary network blip.\n\nThe request body is hashed with its object keys sorted and its defaults applied, so key order does not matter and `\"constraints\": {}` matches an omitted `constraints`. Keys are namespaced per (tenant, `subject`) and live 24 hours, measured from the creation of the checkout that claimed one. Inside the window a retry replays; outside it the key is released and the same string starts a new purchase. Release is an hourly background sweep, so the boundary is approximate to within an hour, and it clears the key off the checkout without otherwise touching the row. An empty or whitespace-only value is treated as absent.\n\nRead by `POST /v1/checkouts` only; every other endpoint ignores it.",
        "schema": {
          "type": "string"
        },
        "example": "acme-4412"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing, malformed, invalid or revoked bearer token. There is no distinction between \"never existed\" and \"revoked\" \u2014 that difference is only useful to someone probing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missing": {
                "value": {
                  "error": true,
                  "message": "Missing bearer token"
                }
              },
              "invalid": {
                "value": {
                  "error": true,
                  "message": "Invalid or revoked API key"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key is missing the scope this route requires, the tenant is suspended, or the key is bound to one end user and this route answers an account-wide question.",
        "content": {
          "application/json": {
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ScopeError"
                },
                {
                  "$ref": "#/components/schemas/Error"
                }
              ]
            },
            "examples": {
              "scope": {
                "value": {
                  "error": true,
                  "message": "This API key is missing the 'buyer-profiles.read' scope.",
                  "requiredScope": "buyer-profiles.read"
                }
              },
              "suspended": {
                "value": {
                  "error": true,
                  "message": "Tenant suspended"
                }
              },
              "subjectBound": {
                "summary": "A subject-bound key reaching for a tenant-wide fact",
                "value": {
                  "error": true,
                  "message": "A subject-bound key cannot read account usage."
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "The body did not parse. `issues` carries the raw Zod issues, which are precise enough to point at the offending field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "CheckoutNotFound": {
        "description": "No such checkout, or it belongs to another tenant \u2014 the two are not distinguished.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": true,
              "message": "Checkout not found"
            }
          }
        }
      },
      "ProfileNotFound": {
        "description": "No such profile, or it belongs to another tenant.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": true,
              "message": "Profile not found"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "title": "Error",
        "description": "Every error is this object. There are no error codes: match on the HTTP status, treat `message` as text for a human.",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "title": "ValidationError",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "issues": {
            "type": "array",
            "description": "Raw Zod issues. `path` is the machine-readable part. Additional fields appear depending on `code` (`validation`, `expected`, `received`, \u2026) \u2014 do not treat the list below as exhaustive.",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "path": {
                  "type": "array",
                  "items": {
                    "type": [
                      "string",
                      "integer"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "ScopeError": {
        "type": "object",
        "title": "ScopeError",
        "description": "An out-of-scope request. `requiredScope` saves you parsing the message.",
        "required": [
          "error",
          "message",
          "requiredScope"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "requiredScope": {
            "$ref": "#/components/schemas/Scope"
          }
        }
      },
      "EscalationError": {
        "type": "object",
        "title": "EscalationError",
        "description": "Returned when a key tries to mint a key with scopes it does not hold.",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "heldScopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            },
            "description": "What the authenticating key actually holds."
          }
        }
      },
      "UnknownScopeError": {
        "type": "object",
        "title": "UnknownScopeError",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "validScopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The complete valid set, so you never have to guess."
          }
        }
      },
      "SandboxError": {
        "type": "object",
        "title": "SandboxError",
        "description": "Sandbox confinement. Raised when the account is sandbox-only, or when the request arrived on a `ck_test_` key \u2014 the two triggers are independent.",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "sandboxMerchants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The hosts this key *can* reach."
          }
        }
      },
      "IdempotencyConflict": {
        "type": "object",
        "title": "IdempotencyConflict",
        "description": "`POST /v1/checkouts` only. `checkoutId` names the checkout the key already refers to, so you can inspect it and decide whether the retry was the mistake or the key was.",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          },
          "checkoutId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Scope": {
        "type": "string",
        "title": "Scope",
        "description": "`<resource>.read` or `<resource>.write`, or the wildcard `*`. `write` implies `read` on the same resource. Resources are exactly the route groups under `/v1`.",
        "enum": [
          "*",
          "checkouts.read",
          "checkouts.write",
          "buyer-profiles.read",
          "buyer-profiles.write",
          "buyer-sessions.read",
          "buyer-sessions.write",
          "webhooks.read",
          "webhooks.write",
          "api-keys.read",
          "api-keys.write",
          "usage.read",
          "usage.write"
        ]
      },
      "Money": {
        "type": "object",
        "title": "Money",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "A decimal string \u2014 `\"42.10\"`, never `42.1`.",
            "examples": [
              "42.10"
            ]
          },
          "currency": {
            "type": "string",
            "default": "USD",
            "description": "ISO 4217.",
            "examples": [
              "USD"
            ]
          }
        }
      },
      "CheckoutStatus": {
        "type": "string",
        "title": "CheckoutStatus",
        "description": "`succeeded`, `failed` and `cancelled` are terminal; nothing leaves them.",
        "enum": [
          "queued",
          "running",
          "awaiting_user_action",
          "succeeded",
          "failed",
          "cancelled"
        ]
      },
      "FailureReason": {
        "type": "string",
        "title": "FailureReason",
        "description": "A closed set of four. The human-readable detail lives in the final `terminal` progress item's `data.message`, not here.",
        "enum": [
          "max_cost_exceeded",
          "user_cancelled",
          "user_action_expired",
          "automation_failed"
        ]
      },
      "CheckoutTarget": {
        "type": "object",
        "title": "CheckoutTarget",
        "required": [
          "url"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "direct_url"
            ],
            "default": "direct_url",
            "description": "Only one kind exists. There is no product search \u2014 you bring the URL."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The product or cart page to start from."
          },
          "request": {
            "type": "string",
            "description": "Plain English, for the agent. `\"buy this in medium, cheapest delivery\"`. A request that unambiguously names an option value skips the variant question entirely."
          },
          "merchantContext": {
            "type": "string",
            "maxLength": 4000,
            "description": "Anything the agent should know about this merchant that the page will not tell it."
          },
          "allowedDomains": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[a-z0-9.-]+$"
            },
            "description": "Extra hostnames the run may navigate to beyond the target's own domain \u2014 e.g. a marketplace's separate auth domain. Hostnames only: no scheme, no path.\n\nThis set is fixed before the run starts and cannot grow at runtime, which is what stops untrusted page text steering a session holding buyer PII somewhere else."
          },
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$",
            "description": "ISO 3166-1 alpha-2 for the merchant. Selects the residential proxy exit so the merchant sees a local visitor. Inferred from the URL's ccTLD when omitted."
          }
        }
      },
      "CheckoutConstraints": {
        "type": "object",
        "title": "CheckoutConstraints",
        "properties": {
          "maxCost": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
[...]
